.boxmodel {
	border: 5px solid red;
	display: inline-block;
/*	space between from all sides*/
	padding: 20px;

/*	spacing custom from top - clockwise direction*/
	padding: 5px 20px 5px 20px;

/*	spacing outside the border*/
	margin: 20px;

/*	spacing only between boxes*/
/*  0 px - top and bottom: ;*/
/*  20px - left and right */

	margin: 0px 20px;
}