/*https://css-tricks.com/ - to find css property*/
/* https://paletton.com/ - pick color in css */

/*Selector {
	Property: value;
}*/

/** - symbolizes all elements*/
* {
	text-align: right;
}

/*add background image*/
body {
	background-image: url(https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
	background-size: cover;	
}


h2, p {
	color: #A70000;
	background-color: lightgreen;

/*	align text in center*/
	text-align: center;

/*	add border*/
	border: 5px solid rgb(21, 40, 84);

/*  add a cursor pointer to h2*/
	cursor: pointer;


}

p {
	color: darkblue;
	background-color: lightskyblue;
/*	text properties*/
	text-decoration: underline;
	text-transform: lowercase;
	line-height: 25px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
	font-family: 'Poiret One', cursive;

}

/*remove the dots in list*/
li {
	list-style: none;
	/*display the list items in one line */
	display: inline-block;
}

/*class is a good way to select group of elements*/
.webtext {
	border: 5px dashed green;
}

.active {
	color: darkred;
}

/* we can use same id only once */
#div1 {
	background-color: lightgreen;
}

/*all the element2 inside element1, apply those changes
element1 element2 {

}*/

/*when we hover towards that element some changes happen*/
h2:hover {
	background-color: greenyellow;
}

img {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}